p{
  color: red;
}


#page-title {
  font-size: 32pt;
  font-weight: bold;
}


.title{
  color: yellow;
}


.bold {
  font-weight: bold;
  font-size: 400pt;
}

.box{
  background-color: yellow;
  width: 100px;
  height: 100px;
  padding: 30px;
  /*pading ha age 2 taei bedim top+bot va right+left ba ham mishan age 4 taei top bot chap rast . . .*/
  margin: 40px;
  box-sizing: border-box;
  /* border + padding + width + height  = box size*/
  border-color: black;
  border-style: dashed;
  /*taqirat dar border */
  cursor: pointer;
  /*ghabele click mishe*/
  border-radius: 16px;
  /*gerd kardane ghaleb*/
  /*background: :url(https://sites.psu.edu/siowfa16/files/2016/10/YeDYzSR-10apkm4.png)
  background-size:contain;*/

}
