p{
  color: red;
}


$''page-title {
  font-size: 32pt;
  font-weight: bold;
}


.title{
  color: yellow;
}


.bold {
  font-weight: bold;
  font-size: 400pt;
}

.box{
  background-color: yellow;
  width: 100px;
  height: 100px;
  padding: 30px;
  /*pading ha age 2 taei bedim top+bot va right+left ba ham mishan age 4 taei top bot chap rast . . .*/
  margin: 40px;
  box-sizing: border-box;
  /* border + padding + width + height  = box size*/

}
